<!doctype html>
<html lang="zh">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TodoMVC</title>
	<link rel="stylesheet" href="./node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="./node_modules/todomvc-app-css/index.css">
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>


	<section id="app" class="todoapp">
		<!-- 组件：添加任务 -->
		<header-addtodo
			v-model="inputvalue"
			@addtodo="addtodo"
		>
		</header-addtodo>

		<section class="main">
			<input id="toggle-all" class="toggle-all" type="checkbox" v-model="allOrNone">
			<!-- 选中任务全部完成/取消全不选 -->
			<label for="toggle-all" @click="allOrNoneTodos"></label>
			<ul class="todo-list">
				<!-- 组件：todo列表 -->
				<todo-list
					v-for="item in filterTodos"
					:key="item.id"
					:item="item"
					@deltodo="deltodo"
					@done_toggle="doneToggle"
					@change-value="updateItem"
				>
				</todo-list>
			</ul>
		</section>
		
		<!-- todo列表底部 -->
		<footer class="footer" v-show="detectionTaskIsEmpty" v-cloak>
			<!-- 实时显示任务数 -->
			<span class="todo-count"><strong>{{ filterUndone.length }}</strong> 个任务</span>
			<!-- 切换路由，控制显示，全部、未完成、已完成任务列表 -->
			<ul class="filters">
				<!--
					下面的表达式为了切换class=selected，以显示样式，
					通过路由的hash值判断排它
				-->
				<li>
					<a :class="[hash === '/' ? 'selected' : '']" href="#/">all</a>
				</li>
				<li>
					<a :class="[hash === '/active' ? 'selected' : '']" href="#/active">进行中</a>
				</li>
				<li>
					<a :class="[hash === '/completed' ? 'selected' : '']" href="#/completed">已完成</a>
				</li>
			</ul>
			<!-- 点击删除已完成任务 -->
			<button class="clear-completed" @click="clearCompleted">清除'已完成'任务</button>
		</footer>

	</section>

	<script src="./node_modules/todomvc-common/base.js"></script>
	<!-- 开发环境 -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
	<!-- 生产环境 -->
	<!-- <script src="./js/vue.min.js"></script> -->

	<!-- header组件 -->
	<script src="js/header-addtodo.js"></script>
	<!-- todo列表组件 -->
	<script src="js/todo-list.js"></script>
	<!-- 入口文件 -->
	<script src="js/app.js"></script>
</body>

</html>